@model Theater.Models.Hall

@{
	ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Вы уверены, что хотите удалить эту запись?</h3>
<h3>Предупреждение: изменения также произойдут и в друих связанных таблицах</h3>
<div>
	<h4>Hall</h4>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Capacity)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Capacity)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.SizeScreen)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.SizeScreen)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.SizeHall)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.SizeHall)
		</dd>

	</dl>

	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()

		<div class="form-actions no-color">
			<input type="submit" value="Delete" class="btn btn-default" /> |
			@Html.ActionLink("Back to List", "Index")
		</div>
	}
</div>
