@model Theater.Models.Hall

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Hall</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SizeScreen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SizeScreen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SizeHall)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SizeHall)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HallId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
