@model IEnumerable<Theater.Models.Hall>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Capacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SizeScreen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SizeHall)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Capacity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SizeScreen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SizeHall)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HallId }) |
            @Html.ActionLink("Details", "Details", new { id=item.HallId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HallId })
        </td>
    </tr>
}

</table>
